Source: vbig
Section: admin
Priority: optional
Maintainer: Richard Kettlewell <rjk@greenend.org.uk>
Standards-Version: 3.9.2
Homepage: https://github.com/ewxrjk/vbig
Build-Depends: nettle-dev

Package: vbig
Architecture: any
Depends: ${misc:Depends},${shlibs:Depends}
Description: Test storage device integrity
 Creates or verifies a file full of pseudo-random data.
 .
 The intended use is to verify that storage media work properly.
 .
 For instance, you might use it on a newly purchased SD card to
 check that its actual capacity matches the advertized capacity.
